.env

*.log

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

bin/
build/
dist/

*.sum~
go.work
go.work.sum

.vscode/
.idea/
*.swp

prompts/
scripts/
cmd/main.go
suporte.yml
agents.yml
funcs/